.App {
<<<<<<< HEAD
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
=======
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: #fff;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}
.User {
  width: 4.5vw;
  height: calc(100vh - 12px);
  overflow: hidden;
  transition: 0.5s ease;
}
.User:hover,
.User:active,
.User:focus {
  width: 25vw;
}
.User:hover .User-container {
  opacity: 1;
}
.Main-wraper {
  width: calc(95.5vw - 12px);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 15fr 85fr;
  grid-template-rows: calc(10vh) calc(90vh);
}
.Header {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Filter {
  grid-column: 1/2;
  grid-row: 2/3;
}
.Main {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Main,
.Filter,
.Header,
.User {
  border-radius: 20px;
  margin: 6px;
  border: 2px solid #ffffff40;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
}
>>>>>>> 005379aadb97a0155b0bb98d64af129de7ec4d24
