
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.search-field {
  width: 50%;
  height: 2.5em;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  outline: none;
  box-shadow: -1px 2px 0 2px #4e4376af;
  background-color: whitesmoke;
}
.search-field::before {
  content: "2";
}
.search-button {
  border-radius: 2em;
  height: 2.4em;
  width: 2.4em;
  border: none;
  margin: 1em;
  white-space: nowrap;
  box-shadow: inset 0 0 35px 5px rgb(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0);
}